// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1, p , a {
  font-family: Arial, sans-serif;
  margin-left: 20px;
  padding: 10px;
}

p {
 font-style: italic;
}

.question-box {
  margin-left: 20px;
  margin-bottom: 15px;
  border-left: 4px solid grey;
}

.answer-box {
  margin-left: 20px;
  margin-top: 15px;
  border-left: 4px solid grey;
  background-color: rgb(255, 246, 227);
}

.question {
  margin-left: 2px solid grey;
}

#form {
  margin-left: 20px;
  width: 400px;
}
